<app-header></app-header>

    <!-- <mat-card class="homeblock1bg medicallistsbannerbg">
    </mat-card> -->
    <mat-card class="innerbanner medicallistsbg">
        <mat-card-content class="mainwrapper">
            <div class="bannertextwrapper">
                <h2 class="text-gradient">Our medically surveyed <span>patient data is one of the largest and comprehensive in the industry.</span></h2>
                <p>We have access to email, phone number, physical address, and a 78% match to their primary care physician.</p>
            </div>            
        </mat-card-content>
    </mat-card>

    <!-- <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/medicallistsblock1.jpg" class="medicallistsblock1"> -->

    <mat-card class="homesection3wrapper sectioncss">
        <mat-card-content class="mainwrapper">
          <h1>Our Data</h1>
          <p>Besides the ailment data we have a lot more medical Big Data available. We also have some of the largest counts for all taxonomies of physicians, imaging center directors, hospital directors, laboratory owners and more. All the ailment data and medical industry network with access to their home addresses for GEO targeting and our other services.</p>
          <h2>Helios Medical Marketing Ailment Patient Surveyed Big Data</h2>
          <div class="headingbgtxt">
                <h2>Ailment/Condition</h2>
          </div>
          
                <mat-list class="flex-column-gen-3">
                    <mat-list-item><i class="fa fa-square"></i> Acute Coronary Syndrom - <b>12,500,409</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> ADHD - Men - <b>9,514,782</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> ADHD - Women - <b>5,104,665</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Allergies - Allergic Rhinitis - <b>30,112,990</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Allergies - Atopic Eczema - <b>25,104,793</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Allegies - Food Allergies - <b>18,201,119</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Allergies - Nasal - <b>35,501,765</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Alzheimers - <b>2,256,709</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Angina - <b>8,135,688</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Arthritis - <b>37,340,769</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Bipolar Depressive Disorder - <b>2,202,484</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Bladder Control - <b>18,300,771</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Bronchitis - <b>9,119,764</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Cancer - <b>13,506,548</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Cancer - Recently Diagnosed - <b>1,442,677</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Cancer - Metastic Breast - <b>752,860</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> COPD - Age 18+  - <b>9,223,540</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> COPD - Age 55+ - <b>125,671</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Chohns Disease - <b>503,445</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Diabetes Type II - <b>12,320,553</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Diabetes Type I - <b>2,601,476</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Emphysema - <b>2,541,709</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Epilepsy - Men - <b>1,450,743</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Epilepsy - Women - <b>61,308,788</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Erectile Dysfunction - <b>5,107,532</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Gastritis - <b>45,287,449</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Glaucoma - <b>5,289,554</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Gum Problems - <b>50,009</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Hearing Difficulty - <b>101,875</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Heart Disease - <b>40,118,714</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Heartburn - GERD - <b>20,366,870</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> High Blood Pressure - <b>10,409,599</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> High Cholestrol - Women Age 45+ - <b>1,358,644</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Hyperthyroidism - Men - <b>9,125,009</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Hyperthyroidism - Women - <b>30,007,611</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Insomnia - Men - <b>35,788,427</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Insomnia - Women - <b>45,674,499</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Lupus - <b>4,931,031</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Major Depressive Disorder - <b>8,105,614</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Migraines - <b>30,007,611</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> MS - <b>195,866</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Obesity - Men - <b>35,788,427</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Obesity - Women - <b>45,674,499</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Osteoarthritis - Woman Age 50+ - <b>4,931,031</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Osteoporosis - <b>8,105,614</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Parkinsons Disease - <b>3,203,340</b></mat-list-item>
                    <mat-list-item><i class="fa fa-square"></i> Ulcerative Colitis - <b>201,499</b></mat-list-item>
                </mat-list>  
        </mat-card-content>
      </mat-card>

    <!-- <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/medicallistsblock2.jpg" class="medicallistsblock1"> -->

    <mat-card class="medicallists2wrapper sectioncss">
        <mat-card-content class="mainwrapper">   
            <h1>Quantum Medica</h1>
            <h2>CANCER SUFFERERS PATIENT SURVEYED BIG DATA</h2>   
          <span class="flex-row-gen">
               
              <span class="medicallists2imgwrapper">
                <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/medicallists2img.jpg" class="medicallists2img">
              </span>
          </span>
        </mat-card-content>
      </mat-card>


    <!-- <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/medicallistsblock3.jpg" class="medicallistsblock1"> -->


    <mat-card class="medicallists3wrapper sectioncss">
        <mat-card-content class="mainwrapper">   
          <h1>Long Term Health Care Facilities and Their Staff</h1>
          <span class="flex-row-gen">    
              <span class="main-row-gen medicallists3bgcolor">
                <h2>Job Title <span>(15.00/M)</span></h2>  
                <span class="medicallists3imgwrapper">
                    <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/medicallists3img1.jpg" class="medicallists2img">
                  </span>
              </span>   
              <span class="sideblock-row-gen medicallists3bgcolor">
                <span class="medicallists3imgwrapper">
                    <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/medicallists3img2.jpg" class="medicallists2img">
                  </span>
              </span>          
              
          </span>
        </mat-card-content>
      </mat-card>
   
<app-footer></app-footer>
