.medicallistsbannerbg{position: relative;}
.innerbanner .mainwrapper{position: relative;}

.medicallists2wrapper .flex-row-gen{
    margin-top: 37px;
}



.medicallists3bgcolor{
    background-color: #eff7f8;
    padding: 28px;
    border:1px solid #dce7e8;
    margin: 30px 5px 0px 5px;
}

@media (max-width: 1199px) {
    .medicallists2wrapper .flex-row-gen {
        justify-content: center;
    }
    .medicallists3bgcolor {
        width: 100%;
    }
    .medicallists3bgcolor {padding: 10px;}
}
@media (max-width: 767px) {
    :host /deep/ .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {flex-wrap: wrap;}
}