<app-header></app-header>

    <mat-card class="homeblock1bg medicallistsbannerbg">
    </mat-card>

    <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/medicallistsblock1.jpg" class="medicallistsblock1">
    <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/medicallistsblock2.jpg" class="medicallistsblock1">
    <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/medicallistsblock3.jpg" class="medicallistsblock1">
   
<app-footer></app-footer>
