<app-header></app-header>

<mat-card class="homeblock1bg">
  <mat-card-content class="mainwrapper">
    <div class="flex-column-gen">
      <div class="main-gen homebannersection">
        <div class="flex-row-gen">
          <div class="main-row-gen">
            <h1 class="text-gradient">Helios Medical Marketing</h1>
            <h2>Targeted Digital Marketing For The Healthcare Industry</h2>
            <mat-list class="homebannerlist">
              <mat-list-item><img
                  src="https://all-frontend-assets.s3.amazonaws.com/helios/images/homebannerlists-icon1.png"> Medical
                Big Data</mat-list-item>
              <mat-list-item><img
                  src="https://all-frontend-assets.s3.amazonaws.com/helios/images/homebannerlists-icon2.png">Residential
                and Commercial Geo-Fencing</mat-list-item>
              <mat-list-item><img
                  src="https://all-frontend-assets.s3.amazonaws.com/helios/images/homebannerlists-icon3.png">Retargeting
                and Facebook</mat-list-item>
            </mat-list>
          </div>
          <div class="sideblock-row-gen formcls">
            <mat-card-header class="mat-card-header">
              <span>Reach your ideal audience with a</span>
              <h2>TARGETED DATA LIST</h2>
            </mat-card-header>
            <div class="example-container">
              <mat-label>First Name*</mat-label>
              <mat-form-field appearance="fill">
                <input matInput>
              </mat-form-field>
              <mat-label>Last Name*</mat-label>
              <mat-form-field appearance="fill">
                <input matInput>
              </mat-form-field>
              <mat-label>Phone Number*</mat-label>
              <mat-form-field appearance="fill">
                <input matInput>
              </mat-form-field>
              <mat-label>Medical Data You’re Interested In</mat-label>
              <mat-form-field appearance="fill">
                <textarea matInput></textarea>
              </mat-form-field>
              <mat-card-footer>
                <button class="mat-button"><span class="mat-button-wrapper">Submit</span></button>
              </mat-card-footer>
            </div>
          </div>
        </div>
      </div>
      <div class="sideblock-gen">
        <span class="bannerbottomright">
          <p>When it comes to the medical industry, our <br>process and program for display digital <br>advertising is
            top of the industry.</p>
        </span>
      </div>
      <span class="doctorimg">
        <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/banner-doctor.png">
      </span>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="homesection1wrapper sectioncss">  
  <mat-card-content class="mainwrapper">
    <h1>Helios Medical Marketing</h1>
    <p>will take your marketing campaigns to our unique Medical Big Data audience right <br>on their smart phones, mobile
      devices and desktops.</p>
    <h2>Mobile Marketing is the largest digital marketplace Globally</h2>
    
    <mat-list class="flex-row-gen">
      <mat-list-item>The average smartphone user spends 5 hours a day on there phone</mat-list-item>
      <mat-list-item>77% of American's own a smartphone</mat-list-item>
      <mat-list-item>Over 230 million U.S. consumers own smartphones</mat-list-item>
      <mat-list-item>Around 100 million U.S. consumers own tablets</mat-list-item>
      <mat-list-item>79% of smartphone users have made a purchase online using their mobile device in the last 6 months
      </mat-list-item>
      <mat-list-item>Almost 40% of all eCommerce purchases during the 2018 holiday season were made on a smartphone.
      </mat-list-item>
      <mat-list-item>eCommerce dollars now comprise 10% of ALL retail revenue</mat-list-item>
      <mat-list-item>80% of shoppers used a mobile phone inside of a physical store to either look up product reviews,
        compare prices or find alternative store locations</mat-list-item>
      <mat-list-item>An estimated 10 billion mobile connected devices are currently in use</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<!-- <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/helioshomeblock2.jpg" class="imgblock"> -->

<mat-card class="homesection2wrapper sectioncss">
  <mat-card-content class="mainwrapper">
    <h1>Audience Development</h1>
    <h2>We use a combination of Targeted Big Data to be extremely specific <br>about who we are marketing to in the
      first place.</h2>
    <mat-list class="flex-column-gen">
      <mat-list-item>Once we have the exact audience, we then utilize GEO Fence targeting to their residential homes in
        order to display advertising on their smart phone and mobile devices.</mat-list-item>
      <mat-list-item>Once we have picked up the new potential client on a display or a click through, we move into less
        expensive retargeting inventory to capture them all over the desktop and mobile web. </mat-list-item>
      <mat-list-item>Through the addition of handset IDs and tracking code on your capture pages we can micro-target the
        audience even more down to those that act. Once we have done this, we can then also target this audience in
        Facebook. </mat-list-item>
      <mat-list-item>We work with you to either directly manage all of your campaigns, asset design, funnel pages and
        landing pages or we can work directly with your agency or inhouse creative departments.</mat-list-item>
      <mat-list-item>We will develop unique advertising that we are able to A/B test and calibrate to give you the
        absolute
        best conversions for the spend possible.</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<!-- <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/helioshomeblock3.jpg" class="imgblock"> -->


<mat-card class="homesection3wrapper sectioncss">
    <mat-card-content class="mainwrapper">
      <h1>Our Data</h1>
      <p>Our medically surveyed patient data is one of the largest in the industry. We have access to email, phone, mobile <br>number, physical address and 78% match on their primary care physician.</p>
      <h2>Helios Medical Marketing Ailment Patient Surveyed Big Data</h2>
      <div class="headingbgtxt">
            <h2>Ailment/Condition</h2>
      </div>
      
            <mat-list class="flex-column-gen-3">
                <mat-list-item><i class="fa fa-square"></i> Acute Coronary Syndrom - <b>12,500,409</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> ADHD - Men - <b>9,514,782</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> ADHD - Women - <b>5,104,665</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Allergies - Allergic Rhinitis - <b>30,112,990</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Allergies - Atopic Eczema - <b>25,104,793</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Allegies - Food Allergies - <b>18,201,119</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Allergies - Nasal - <b>35,501,765</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Alzheimers - <b>2,256,709</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Angina - <b>8,135,688</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Arthritis - <b>37,340,769</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Bipolar Depressive Disorder - <b>2,202,484</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Bladder Control - <b>18,300,771</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Bronchitis - <b>9,119,764</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Cancer - <b>13,506,548</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Cancer - Recently Diagnosed - <b>1,442,677</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Cancer - Metastic Breast - <b>752,860</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> COPD - Age 18+  - <b>9,223,540</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> COPD - Age 55+ - <b>125,671</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Chohns Disease - <b>503,445</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Diabetes Type II - <b>12,320,553</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Diabetes Type I - <b>2,601,476</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Emphysema - <b>2,541,709</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Epilepsy - Men - <b>1,450,743</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Epilepsy - Women - <b>61,308,788</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Erectile Dysfunction - <b>5,107,532</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Gastritis - <b>45,287,449</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Glaucoma - <b>5,289,554</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Gum Problems - <b>50,009</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Hearing Difficulty - <b>101,875</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Heart Disease - <b>40,118,714</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Heartburn - GERD - <b>20,366,870</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> High Blood Pressure - <b>10,409,599</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> High Cholestrol - Women Age 45+ - <b>1,358,644</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Hyperthyroidism - Men - <b>9,125,009</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Hyperthyroidism - Women - <b>30,007,611</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Insomnia - Men - <b>35,788,427</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Insomnia - Women - <b>45,674,499</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Lupus - <b>4,931,031</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Major Depressive Disorder - <b>8,105,614</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Migraines - <b>30,007,611</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> MS - <b>195,866</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Obesity - Men - <b>35,788,427</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Obesity - Women - <b>45,674,499</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Osteoarthritis - Woman Age 50+ - <b>4,931,031</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Osteoporosis - <b>8,105,614</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Parkinsons Disease - <b>3,203,340</b></mat-list-item>
                <mat-list-item><i class="fa fa-square"></i> Ulcerative Colitis - <b>201,499</b></mat-list-item>
            </mat-list>  
    </mat-card-content>
  </mat-card>

<!-- <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/helioshomeblock4.jpg" class="imgblock"> -->

<mat-card class="homesection4wrapper sectioncss">
  <mat-card-content class="mainwrapper">
   

    <span class="flex-row-gen">
      <span class="main-gen">
        <h1>Geo-fence Digital Marketing</h1>
        <h2>We start every model by <span>GEO Fencing</span> first before any other marketing <br>methodology is applied. The response rate we get will determine the <br>rest of the digital marketing plan.</h2>
        <h3>Why it works</h3>
        <mat-list class="flex-column-gen">
          <mat-list-item>We perfectly geo-fence around the property line to ensure that we only capture the homeowners that you desire </mat-list-item>
          <mat-list-item>Machine learning allows us to, over time, verify that they are the clients that you desire.</mat-list-item>
          <mat-list-item>By starting with the Medical Big Data selections you have chosen we know we have the most accurate micro-targeting possible. You will not be wasting money on non-buyers like other programs.</mat-list-item>
        </mat-list>
      </span>
      <span class="sideblock-gen">
        <span class="helioshomeblock4imgwrapper">
          <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/helioshomeblock4img.jpg" class="helioshomeblock4img">
        </span>       
      </span>
    </span>

    
  </mat-card-content>
</mat-card>

<!-- <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/helioshomeblock5.jpg" class="imgblock"> -->



<!-- <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/helioshomeblock6.jpg" class="imgblock"> -->

<mat-card class="homesection5wrapper sectioncss">  
  <mat-card-content class="mainwrapper">
    <h1> Digital Markets Post Click</h1>
    <div class="flex-row-gen">
          <span class="homesection5wrappercontent flex-row-gen">
            <mat-list class="flex-column-gen">
              <mat-list-item><p><b>Once we</b> have identified user with our proprietary geo fencing technology, <br>we can plug users into multiple different ad exchanges.</p></mat-list-item>
              <mat-list-item><p><b>As an agency partner</b>, we can work with you on monetizing and running <br>these campaigns as well. </p></mat-list-item>
              <mat-list-item><p><b>Because</b> we are more targeted, our system makes spending in other <br>exchanges much more cost effective.</p></mat-list-item>      
            </mat-list>
          </span>
          <span class="helioshomeblock5imgwrapper">
            <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/helioshomeblock5img.png" class="helioshomeblock5img">
          </span>
            
    </div>       
  </mat-card-content>
</mat-card>



<!-- <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/helioshomeblock7.jpg" class="imgblock"> -->


<mat-card class="homesection6wrapper sectioncss">
  <mat-card-content class="mainwrapper">
    <h1>Industries</h1>    
    <h2>Industry Based Marketing that is perfect for <br>the Helios Medical Marketing services.</h2>
    <mat-list class="flex-column-gen-4">
              <mat-list-item><img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/listicon-6circle.png"> Pharma brands and medications</mat-list-item>
              <mat-list-item><img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/listicon-6circle.png"> Pharmaceutical supply</mat-list-item>
              <mat-list-item><img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/listicon-6circle.png"> Diabetic supply</mat-list-item>
              <mat-list-item><img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/listicon-6circle.png"> Allergy programs</mat-list-item>
              <mat-list-item><img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/listicon-6circle.png"> Laboratory services</mat-list-item>
              <mat-list-item><img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/listicon-6circle.png"> Specialty practice marketing</mat-list-item>
              <mat-list-item><img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/listicon-6circle.png"> Research companies</mat-list-item>
              <mat-list-item><img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/listicon-6circle.png"> Genomics consumer marketing</mat-list-item>
              <mat-list-item><img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/listicon-6circle.png"> Major hospital specialties</mat-list-item>
              <mat-list-item><img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/listicon-6circle.png"> Counseling services</mat-list-item>
              <mat-list-item><img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/listicon-6circle.png"> Nutra specific products</mat-list-item>
              <mat-list-item><img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/listicon-6circle.png"> Home health care</mat-list-item>
              <mat-list-item><img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/listicon-6circle.png"> Medical based resorts</mat-list-item>
              <mat-list-item><img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/listicon-6circle.png"> Alternative health</mat-list-item>
              <mat-list-item><img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/listicon-6circle.png"> Physician marketing</mat-list-item>
              <mat-list-item><img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/listicon-6circle.png"> Medical facility management</mat-list-item>
    </mat-list> 
    <p class="talktous">And so many more. Talk to us……</p> 
  </mat-card-content>
</mat-card>


<app-footer></app-footer>
