<app-header></app-header>

<mat-card class="homeblock1bg">
    <mat-card-content class="mainwrapper">
        <div class="flex-column-gen">
            <div class="main-gen homebannersection">
                <div class="flex-row-gen">
                    <div class="main-row-gen">
                        <h1 class="text-gradient">Helios Medical Marketing</h1>
                        <h2>Targeted Digital Marketing For The Healthcare Industry</h2>
                        <mat-list class="homebannerlist">
                            <mat-list-item><img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/homebannerlists-icon1.png"> Medical Big Data</mat-list-item>
                            <mat-list-item><img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/homebannerlists-icon2.png">Residential and Commercial Geo-Fencing</mat-list-item>
                            <mat-list-item><img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/homebannerlists-icon3.png">Retargeting and Facebook</mat-list-item>
                        </mat-list>
                    </div>
                    <div class="sideblock-row-gen formcls">
                        <mat-card-header class="mat-card-header">
                            <span>Reach your ideal audience with a</span>
                            <h2>TARGETED DATA LIST</h2>
                        </mat-card-header>
                        <div class="example-container">
                            <mat-label>First Name*</mat-label>
                            <mat-form-field appearance="fill">
                                <input matInput>
                            </mat-form-field>
                            <mat-label>Last Name*</mat-label>
                            <mat-form-field appearance="fill">
                                <input matInput>
                            </mat-form-field>
                            <mat-label>Phone Number*</mat-label>
                            <mat-form-field appearance="fill">
                                <input matInput>
                            </mat-form-field>
                            <mat-label>Medical Data You’re Interested In</mat-label>
                            <mat-form-field appearance="fill">
                                <textarea matInput></textarea>
                            </mat-form-field>
                              <mat-card-footer>
                                  <button class="mat-button"><span class="mat-button-wrapper">Submit</span></button>
                                </mat-card-footer>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sideblock-gen">
                <span class="bannerbottomright">
                    <p>When it comes to the medical industry, our <br>process and program for display digital <br>advertising is top of the industry.</p>                    
                </span>
            </div>
            <span class="doctorimg">
                <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/banner-doctor.png">
            </span>
        </div>
    </mat-card-content>
</mat-card>


      <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/helioshomeblock2.jpg" class="imgblock">
      <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/helioshomeblock3.jpg" class="imgblock">
      <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/helioshomeblock4.jpg" class="imgblock">
      <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/helioshomeblock5.jpg" class="imgblock">
      <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/helioshomeblock6.jpg" class="imgblock">
      <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/helioshomeblock7.jpg" class="imgblock">
   

<app-footer></app-footer>
