.homeblock1bg{padding-top:142px}
/* :host /deep/ .mat-list-item-content {padding: 0 !important;} */
.homeblock1bg h1.text-gradient{margin:0;line-height:65px}
.homeblock1bg h2{margin:0;line-height:48px;color:var(--main-txt-color);--max-font:38;--min-font:19;font-family:var(--main-font);font-size:var(--responsive)}
.homeblock1bg .main-row-gen{flex:1 1 100%}
.homebannersection{margin-top:40px!important}
.imgblock{display:block;width:100%}
.homebannerlist{margin:0;padding:0;margin-left:30%;z-index:99;position:relative;margin-top:58px}
.homebannerlist .mat-list-item{height:auto;font-family:var(--main-font);font-size:43px;color:var(--white-color-txt);line-height:43px;margin-bottom:36px}
.homebannerlist .mat-list-item .mat-list-item-content{padding:0}
.homebannerlist .mat-list-item img{width:93px;height:auto;margin-right:20px}
.homebannerlist .mat-list-item:nth-child(2){padding-left:70px}
.homebannerlist .mat-list-item:nth-child(3){padding-left:145px}
.doctorimg{position:absolute;bottom:0;left:0;height:770px;overflow:hidden}
.sideblock-row-gen.formcls{background-color:var(--gray-bgColor);padding:10px;width:640px}
.homesection1wrapper .flex-row-gen{flex-wrap:wrap;padding-top:0;margin-top:15px;background:rgba(25,92,180,1);background:-moz-linear-gradient(left,rgba(25,92,180,1) 0%,rgba(57,196,49,1) 100%);background:-webkit-gradient(left top,right top,color-stop(0%,rgba(25,92,180,1)),color-stop(100%,rgba(57,196,49,1)));background:-webkit-linear-gradient(left,rgba(25,92,180,1) 0%,rgba(57,196,49,1) 100%);background:-o-linear-gradient(left,rgba(25,92,180,1) 0%,rgba(57,196,49,1) 100%);background:-ms-linear-gradient(left,rgba(25,92,180,1) 0%,rgba(57,196,49,1) 100%);background:linear-gradient(to right,rgba(25,92,180,1) 0%,rgba(57,196,49,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#195cb4',endColorstr='#39c431',GradientType=1)}
.homesection1wrapper .flex-row-gen .mat-list-item{height:auto;width:auto;flex:1 1 20%;border-right:1px solid #fff!important;border-bottom:1px solid #fff!important;color:var(--white-color-txt);text-shadow:var(--text-shadow)}
:host /deep/ .homesection1wrapper .flex-row-gen .mat-list-item-content{padding:20px;height:100%;text-align:center}
.homesection2wrapper h1{color:var(--green-color-txt);text-align:left}
.homesection2wrapper h2{color:var(--white-color-txt);text-align:left;text-transform:initial}
.homesection2wrapper .mat-list-base{width:60%;padding-top: 0;}
.homesection2wrapper .mat-list-base .mat-list-item{border-left:7px solid #0499e7;padding-left:10px;height:auto;margin-top:36px;color:var(--white-color-txt)}
.main-row-gen-block{width:100%}
.homesection4wrapper h1{color:var(--green-color-txt);text-align:left}
.homesection4wrapper h2{color:var(--white-color-txt);text-align:left;text-transform:initial;font-size:26px}
.homesection4wrapper h3{color:var(--green-color-txt);text-align:left;text-transform:uppercase;margin:0;padding:0;margin-top:20px}
.homesection4wrapper h2 span{color:#0499e7}
.homesection4wrapper .mat-list-base{width:67%}
.homesection4wrapper .mat-list-base .mat-list-item{background:url(https://all-frontend-assets.s3.amazonaws.com/helios/images/listicon-4box.png) no-repeat top 5px left;padding-left:10px;height:auto;margin-top:20px;color:var(--white-color-txt)}
.homesection4wrapper .mat-list-base .mat-list-item:first-child{margin-top:0!important}
.helioshomeblock4imgwrapper{width:390px;height:430px;display:block;padding:4px;background-color:#0b3248}
.helioshomeblock4imgwrapper img{width:100%}
.homesection4wrapper .flex-row-gen{align-items:center}
.homesection4wrapper .flex-row-gen .sideblock-gen{width:auto}
.helioshomeblock5imgwrapper{width:597px;height:597px;display:block;overflow:hidden;position:absolute;left:-12%}
.helioshomeblock5imgwrapper img{max-width:100%}
.homesection5wrappercontent .mat-list-base .mat-list-item{background:url(https://all-frontend-assets.s3.amazonaws.com/helios/images/listicon-5circle.png) no-repeat top 5px left;padding-left:29px;height:auto;margin-top:20px;color:var(--black-color-txt)}
.homesection5wrappercontent .mat-list-base .mat-list-item:first-child{margin-top:0!important}
.homesection6wrapper .mat-list-base .mat-list-item{height:auto;margin-top:0;color:var(--white-color-txt);border-left:1px solid #fff;position:relative;font-size:24px}
.homesection6wrapper .mat-list-base .mat-list-item:first-child{margin-top:0!important}
.homesection6wrapper .mat-list-base .mat-list-item img{width:auto;margin-left:-11px;margin-right:11px}
:host /deep/ .homesection6wrapper .mat-list-base .mat-list-item .mat-list-item-content{padding:0!important}
.homesection6wrapper .flex-column-gen-4 .mat-list-item{line-height:43px;font-size:20px}
.homesection6wrapper .flex-column-gen-4{-webkit-column-gap:0;-moz-column-gap:0;column-gap:0;-webkit-column-rule-width:0;-moz-column-rule-width:0;column-rule-width:0}
.homesection6wrapper.sectioncss h2{text-align:left;color:#07bf0f;max-width:82%;margin-top: 10px;}
.homesection6wrapper.sectioncss h1{text-align:left;color:#fff}
.homesection6wrapper .flex-column-gen-4{max-width:100%}
.homesection6wrapper p.talktous{text-align:left;margin-top:10px;margin-left:0;color:var(--white-color-txt);font-size: 36px;}
.homesection5wrappercontent .flex-column-gen{width:73%;margin:20px 0 0;display:block}
.sectioncss .homesection5wrappercontent p{text-align:left;line-height:normal;margin:0}
@media (min-width: 1200px) {
.homeblock1bg h2{font-size:calc(var(--max-font) * 1px)}
}
@media (max-width: 1870px) {
.homebannerlist{margin-left:38%}
.homebannerlist .mat-list-item{font-size:36px;line-height:36px}
}
@media (max-width: 1800px) {
.homebannerlist{margin:0;padding:0;margin-left:38%;z-index:99;position:relative;margin-top:58px;margin-left:40%}
.homebannerlist .mat-list-item{font-size:36px;line-height:38px}
}
@media (max-width: 1666px) {
.homesection2wrapper h2{width:70%}
.homesection2wrapper h2 br{display:none}
.doctorimg{left:-90px!important}
.homesection6wrapper .flex-column-gen-4{max-width:92%}
.homesection6wrapper.mat-card{background-image:url(https://all-frontend-assets.s3.amazonaws.com/helios/images/homeblock6bg.jpg);background-size:cover;min-height:400px}
}
@media (max-width: 1500px) {
.homesection5wrappercontent{background:url(https://all-frontend-assets.s3.amazonaws.com/helios/images/homesection5wrappercontent.jpg) no-repeat top right;background-size:cover;min-height:534px}
.helioshomeblock5imgwrapper{width:553px;height:auto}
.homebannerlist{margin-left:42%}
.homebannerlist .mat-list-item{font-size:31px;line-height:39px}
.mainwrapper{width:96%}
.homesection6wrapper .flex-column-gen-4 .mat-list-item{line-height:38px;font-size:19px}
.homesection6wrapper .flex-column-gen-4{max-width:90%}
.homesection5wrappercontent .flex-column-gen{width:77%}
}
@media (max-width: 1464px) {
.homebannerlist{margin-left:45%}
.homebannerlist .mat-list-item{font-size:27px;line-height:34px}
.homebannerlist .mat-list-item img{width:80px}
.homeblock1bg h2{line-height:42px;--max-font:32}
.homesection6wrapper .flex-column-gen-4 .mat-list-item{line-height:35px;font-size:16px}
.homesection5wrappercontent{background:url(https://all-frontend-assets.s3.amazonaws.com/helios/images/homesection5wrappercontent.jpg) no-repeat top right;background-size:cover;min-height:494px}
.sectioncss .homesection5wrappercontent p{font-size:21px}
.helioshomeblock5imgwrapper{width:515px;height:auto}
.helioshomeblock5imgwrapper img{max-width:100%}
}
@media (max-width: 1366px) {
.doctorimg{left:-140px!important}
.homebannerlist{margin-left:42%;margin-top:80px}
.homebannerlist .mat-list-item img{width:60px}
.formcls .mat-card-header span{margin-bottom:10px}
}
@media (max-width: 1280px) {
.homesection5wrappercontent{background:url(https://all-frontend-assets.s3.amazonaws.com/helios/images/homesection5wrappercontent.jpg) no-repeat top right;background-size:cover;min-height:498px}
.homesection5wrappercontent .flex-column-gen{width:68%}
.helioshomeblock5imgwrapper{width:521px}
.sectioncss .homesection5wrappercontent p{font-size:18px}
.homeblock1bg h2{line-height:20px;--max-font:29}
.homebannerlist .mat-list-item{font-size:24px;line-height:32px}
}
@media (max-width: 1240px) {
.doctorimg{left:-178px!important}
.homebannerlist{margin-left:40%;margin-top:104px}
.homesection3wrapper .mat-list .mat-list-item{font-size:16px;line-height:normal}
.homesection5wrappercontent .flex-column-gen{width:72%}
.homesection5wrappercontent{background:url(https://all-frontend-assets.s3.amazonaws.com/helios/images/homesection5wrappercontent.jpg) no-repeat top right;background-size:cover;min-height:470px}
.helioshomeblock5imgwrapper{width:488px}
}
@media (max-width:1199px) {
.homesection2wrapper h2{width:100%}
.homesection2wrapper h2 br{display:none}
:host /deep/ .homesection4wrapper .flex-row-gen .mat-list-item-content{padding:5px;height:100%;text-align:center;display:block}
.homeblock1bg{padding-top:0;text-align:center}
.homebannerlist{margin-left:auto;margin-top:20px}
.doctorimg{height:auto;position:initial;bottom:0}
.sideblock-row-gen.formcls{width:100%}
.homebannerlist .mat-list-item .mat-list-item-content{flex-wrap:wrap;align-items:center;justify-content:center}
.homebannerlist .mat-list-item img{width:60px;display:block}
.homebannerlist .mat-list-item:nth-child(1){padding-left:0;text-align:left}
.homebannerlist .mat-list-item:nth-child(2){padding-left:0;text-align:left}
.homebannerlist .mat-list-item:nth-child(3){padding-left:0;text-align:left}
.bannerbottomright{margin-top:40px;margin-bottom:25px}
.homeblock1bg h1.text-gradient{line-height:normal}
.homebannersection{margin-top:20px!important}
.homesection2wrapper h1{text-align:center}
.homesection2wrapper h2{text-align:center}
.homesection2wrapper .mat-list-base{width:100%}
.homesection2wrapper .mat-list-base .mat-list-item{margin-top:20px;padding-left:0}
.homesection4wrapper h1{text-align:center}
.homesection4wrapper h2{text-align:center}
.homesection4wrapper .mat-list-base{width:100%}
.homesection4wrapper .flex-row-gen .sideblock-gen{margin:20px auto 0}
.homesection4wrapper h3{text-align:center;font-size:30px}
.homesection4wrapper .mat-list-base .mat-list-item{background:url(https://all-frontend-assets.s3.amazonaws.com/helios/images/listicon-4box.png) no-repeat top;padding-left:0;height:auto;margin-top:20px;color:var(--white-color-txt);padding-top:20px}
.homesection6wrapper .flex-column-gen-4{-webkit-column-count:3;-moz-column-count:3;column-count:3}
.homesection6wrapper.sectioncss h2{max-width:75%}
.homesection6wrapper.sectioncss h2 br{display:none}
.homesection5wrappercontent{background:url(https://all-frontend-assets.s3.amazonaws.com/helios/images/homesection5wrappercontent.jpg) no-repeat top right;background-size:cover;min-height:359px}
.homesection5wrappercontent .flex-column-gen{width:77%}
.helioshomeblock5imgwrapper{width:377px}
.homesection5wrappercontent .mat-list-base .mat-list-item{background:url(https://all-frontend-assets.s3.amazonaws.com/helios/images/listicon-5circle.png) no-repeat top 5px left;padding-left:29px;height:auto;margin-top:10px;color:var(--black-color-txt)}
}
@media (max-width:1100px) {
.homesection5wrapper.mat-card{background:url(https://all-frontend-assets.s3.amazonaws.com/helios/images/homesection5bg.jpg) no-repeat top right;background-size:cover;min-height:1px}
.helioshomeblock5imgwrapper{width:385px}
.homesection5wrappercontent{background:url(https://all-frontend-assets.s3.amazonaws.com/helios/images/homesection5wrappercontent.jpg) no-repeat top right;background-size:cover;min-height:363px}
.homesection5wrappercontent .flex-column-gen{width:77%;margin:10px 0 0}
.sectioncss .homesection5wrappercontent p{font-size:17px}
}
@media (max-width:1070px) {
.sectioncss .homesection5wrappercontent p{font-size:16px}
}
@media (max-width:1024px) {
.homesection5wrapper.mat-card{background:url(https://all-frontend-assets.s3.amazonaws.com/helios/images/homesection5bg.jpg) no-repeat top right;background-size:cover;min-height:1px}
.helioshomeblock5imgwrapper{width:357px}
.homesection5wrappercontent{background:url(https://all-frontend-assets.s3.amazonaws.com/helios/images/homesection5wrappercontent.jpg) no-repeat top right;background-size:cover;min-height:333px}
.homesection5wrappercontent .flex-column-gen{width:75%;margin:10px 0 0}
.sectioncss .homesection5wrappercontent p{font-size:14px}
}
@media (max-width:991px) {
.homesection1wrapper .flex-row-gen .mat-list-item{flex:1 1 33.33%}
.homesection6wrapper .flex-column-gen-4{-webkit-column-count:2;-moz-column-count:2;column-count:2;max-width:74%}
.helioshomeblock5imgwrapper{position:inherit;left:0;margin:0 auto}
.homesection5wrapper.mat-card .flex-row-gen{width:96%;margin-left:auto;margin-right:auto}
.homesection5wrappercontent{background:url(https://all-frontend-assets.s3.amazonaws.com/helios/images/homesection5wrappercontent.jpg) no-repeat bottom right;background-size:cover;min-height:380px}
.homesection5wrappercontent .flex-column-gen{margin:10px auto}
.homebannerlist .mat-list-item{margin-bottom:15px}
.homeblock1bg h2{line-height:normal}
}
@media (max-width:767px) {
.homesection5wrappercontent .flex-column-gen{width:90%;margin:10px auto}
.homesection6wrapper .flex-column-gen-4{-webkit-column-count:1;-moz-column-count:1;column-count:1;max-width:100%}
.homesection6wrapper.sectioncss h1{text-align:center}
.homesection6wrapper.sectioncss h2{max-width:100%;text-align:center}
.homesection6wrapper .mat-list-base .mat-list-item{border-left:0}
.homesection6wrapper .mat-list-base .mat-list-item img{display:none}
.homesection6wrapper .mat-list-base .mat-list-item{background:url(https://all-frontend-assets.s3.amazonaws.com/helios/images/listicon-6circle.png) no-repeat top;padding-left:0;height:auto;margin-top:14px;padding-top:16px}
:host /deep/ .homesection6wrapper .mat-list-base .mat-list-item .mat-list-item-content{display:block;text-align:center}
.homesection6wrapper p.talktous{text-align:center;margin-left:auto;margin-right:auto}
.homesection3wrapper .mat-list .mat-list-item .mat-list-item-content{flex-wrap:wrap;justify-content:center}
}
@media (max-width:640px) {
.homesection1wrapper .flex-row-gen .mat-list-item{flex:1 1 50%}
.homesection5wrappercontent .flex-column-gen{width:90%;margin:10px auto 20px}
.sectioncss .homesection5wrappercontent p br{display:none}
.homesection5wrappercontent .mat-list-base .mat-list-item{background:url(https://all-frontend-assets.s3.amazonaws.com/helios/images/listicon-5circle.png) no-repeat top;padding-left:0;height:auto;padding-top:36px}
.sectioncss .homesection5wrappercontent p{font-size:14px;text-align:center}
.homesection5wrappercontent{background:#fff;background-size:cover;min-height:auto;padding-bottom:0!important}
}
@media (max-width: 480px) {
.homeblock1bg h2,.homeblock1bg h1{font-size:calc(var(--min-font) * 1px);line-height:normal}
.homesection1wrapper .flex-row-gen .mat-list-item{flex:1 1 100%}
.helioshomeblock4imgwrapper{width:100%;height:auto}
}