<app-header></app-header>

<mat-card class="homeblock1bg contactusbgbannerbginner">
    <mat-card-content class="mainwrapper">
        <div class="flex-column-gen">
            <div class="main-gen homebannersection">
                <div class="flex-row-gen">
                    <div class="main-row-gen leftcontent">
                        <h1 class="text-gradient">Get In Touch</h1>
                        <h2>Target millions of nationwide surveyed <br>and medically profiled patients and consumers now.</h2>  
                        <div class="imgcontactusleftwrapper">
                            <div class="imgcontactusleftwrapperimg">
                                <div class="mapwrapper" style="overflow:hidden;width: 100%;position: relative;"><iframe width="100%" height="335" src="https://maps.google.com/maps?hl=en&amp;q=1175 American Pacific Dr, Henderson, NV 89074+(Helios Medical Marketing)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 0px;background: #fff;"> <a href="https://pornogratis.fun/">porno gratis</a> </small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div>
                                <!-- <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/imgcontactusleft.png" class="imgcontactusleft">  -->
                            </div>                           
                            <div class="imgcontactusleftwrappercontent">
                                <p>Helios Medical Marketing<br>
                                    1175 American Pacific Dr<br>
                                    Henderson, NV 89074<br>
                                    <a href="mailto:support@heliosmedicalmarketing.com" target="_top">support@heliosmedicalmarketing.com</a>
                                </p>
                                
                            </div>
                        </div>
                                          
                    </div>
                    <div class="sideblock-row-gen formcls">
                        <mat-card-header class="mat-card-header">
                            <h2>Contact Form</h2>
                        </mat-card-header>
                        <div class="example-container">
                            <mat-label>First Name*</mat-label>
                            <mat-form-field appearance="fill">
                                <input matInput>
                            </mat-form-field>
                            <mat-label>Last Name*</mat-label>
                            <mat-form-field appearance="fill">
                                <input matInput>
                            </mat-form-field>
                            <mat-label>Phone Number*</mat-label>
                            <mat-form-field appearance="fill">
                                <input matInput>
                            </mat-form-field>
                            <mat-label>Medical Data You’re Interested In</mat-label>
                            <mat-form-field appearance="fill">
                                <textarea matInput></textarea>
                            </mat-form-field>                            
                            <mat-card-footer>
                                <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/imgcapture.jpg" class="imgcapture">
                                <button class="mat-button"><span class="mat-button-wrapper">Submit</span></button>
                            </mat-card-footer>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </mat-card-content>
</mat-card>


   

<app-footer></app-footer>

