<app-header></app-header>

<mat-card class="homeblock1bg contactusbgbannerbginner">
    <mat-card-content class="mainwrapper">
        <div class="flex-column-gen">
            <div class="main-gen homebannersection">
                <div class="flex-row-gen">
                    <div class="main-row-gen leftcontent">
                        <h1 class="text-gradient">Get In Touch</h1>
                        <h2>Target millions of nationwide surveyed <br>and medically profiled patients and consumers now.</h2>  
                        <div class="imgcontactusleftwrapper">
                            <div class="imgcontactusleftwrapperimg">
                                <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/imgcontactusleft.png" class="imgcontactusleft"> 
                            </div>                           
                            <div class="imgcontactusleftwrappercontent">
                                <p>Helios Medical Marketing<br>
                                    1175 American Pacific Dr<br>
                                    Henderson, NV 89074<br>
                                    <a href="mailto:support@heliosmedicalmarketing.com" target="_top">support@heliosmedicalmarketing.com</a>
                                </p>
                                
                            </div>
                        </div>
                                          
                    </div>
                    <div class="sideblock-row-gen formcls">
                        <mat-card-header class="mat-card-header">
                            <h2>Contact Form</h2>
                        </mat-card-header>
                        <div class="example-container">
                            <mat-label>First Name*</mat-label>
                            <mat-form-field appearance="fill">
                                <input matInput>
                            </mat-form-field>
                            <mat-label>Last Name*</mat-label>
                            <mat-form-field appearance="fill">
                                <input matInput>
                            </mat-form-field>
                            <mat-label>Phone Number*</mat-label>
                            <mat-form-field appearance="fill">
                                <input matInput>
                            </mat-form-field>
                            <mat-label>Medical Data You’re Interested In</mat-label>
                            <mat-form-field appearance="fill">
                                <textarea matInput></textarea>
                            </mat-form-field>                            
                            <mat-card-footer>
                                <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/imgcapture.jpg" class="imgcapture">
                                <button class="mat-button"><span class="mat-button-wrapper">Submit</span></button>
                            </mat-card-footer>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </mat-card-content>
</mat-card>


   

<app-footer></app-footer>

