<app-header></app-header>
    <!-- <mat-card class="homeblock1bg gefencebannerbg">
    </mat-card> -->
    <mat-card class="innerbanner gefencebannerbg">
        <mat-card-content class="mainwrapper">
            <div class="bannertextwrapper">
                <h2 class="text-gradient">GEOFence Marketing Solutions</h2>
                <p>Using The Most Effective Online And Mobile Marketing Tool To Directly Target Your Specified Audience With Impeccable Precision.</p>
            </div>        
            
            <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/geofencefeaturesbannerimg1.png" class="geofencefeaturesbannerimg1">   
        </mat-card-content>
    </mat-card>


    <mat-card class="geofencefeatures1wrapper sectioncss">
        <mat-card-content class="mainwrapper">   
          <!-- <h1>Here are some of our powerful <br>GeoFencing features:</h1> -->    


          <!-- <mat-list class="equalHMRWrap eqWrap">
            <mat-list-item class="equalHMR eq">
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                <h2>Free form plotting</h2>
                <p>Like other GEO fencing technologies, we have a very </p>
            </mat-list-item>
            <mat-list-item class="equalHMR eq">
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                <h2>Free form plotting</h2>
                <p>Like other GEO fencing technologies, we have a very </p>
            </mat-list-item>
            <mat-list-item class="equalHMR eq">
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                <h2>Free form plotting</h2>
                <p>Like other GEO fencing technologies, we have a very</p>
            </mat-list-item>
            <mat-list-item class="equalHMR eq">
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                <h2>Free form plotting</h2>
                <p>Like other GEO fencing technologies, we have a very flexible map system </p>
            </mat-list-item>
            <mat-list-item class="equalHMR eq">
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                <h2>Free form plotting</h2>
                <p>Like other GEO fencing technologies, we have a very flexible map system free form plotting feature that allows you to draw your fence lines.</p>
            </mat-list-item>
            <mat-list-item class="equalHMR eq">
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                <h2>Free form plotting</h2>
                <p>Like other GEO fencing technologies, we have </p>
            </mat-list-item>
            <mat-list-item class="equalHMR eq">
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                <h2>Free form plotting</h2>
                <p>Like other GEO fencing technologies, we have a very </p>
            </mat-list-item>
            <mat-list-item class="equalHMR eq">
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                
            </mat-list-item>
            <mat-list-item class="equalHMR eq">
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                <h2>Free form plotting</h2>
                <p>Like other GEO fencing technologies, we have a very</p>
            </mat-list-item>
            <mat-list-item class="equalHMR eq">
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                <h2>Free form plotting</h2>
                <p>Like other GEO fencing technologies, we have a very</p>
            </mat-list-item>

            <mat-list-item class="equalHMR eq">
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                <h2>Free form plotting</h2>
                <p>Like other GEO fencing technologies, we have a very</p>
            </mat-list-item>
            <mat-list-item class="equalHMR eq">
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                <h2>Free form plotting</h2>
                <p>Like other GEO fencing technologies, we have a very</p>
            </mat-list-item>

        </mat-list> -->



          <!-- <mat-list role="list" class="flex-row-gen">
            <mat-list-item role="listitem">         
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                <h2>Free form plotting</h2>
                <p>Like other GEO fencing technologies, we have a very flexible map system free form plotting feature that allows you to draw your fence lines.</p>
            </mat-list-item>
            <mat-list-item role="listitem">         
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                <h2>Free form plotting</h2>
                <p>Like other GEO fencing technologies, we have a very flexible map system free form plotting feature that allows you to draw your fence lines.</p>
            </mat-list-item>
            <mat-list-item role="listitem">         
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                <h2>Free form plotting</h2>
                <p>Like other GEO fencing technologies, we have a very flexible map system free form plotting feature that allows you to draw your fence lines.</p>
            </mat-list-item>
            <mat-list-item role="listitem">         
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                <h2>Free form plotting</h2>
                <p>Like other GEO fencing technologies, we have a very flexible map system free form plotting feature that allows you to draw your fence lines.</p>
            </mat-list-item>
            <mat-list-item role="listitem">         
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                <h2>Free form plotting</h2>
                <p>Like other GEO fencing technologies, we have a very flexible map system free form plotting feature that allows you to draw your fence lines.</p>
            </mat-list-item>
            <mat-list-item role="listitem">         
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                <h2>Free form plotting</h2>
                <p>Like other GEO fencing technologies, we have a very flexible map system free form plotting feature that allows you to draw your fence lines.</p>
            </mat-list-item>
            <mat-list-item role="listitem">         
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                <h2>Free form plotting</h2>
                <p>Like other GEO fencing technologies, we have a very flexible map system free form plotting feature that allows you to draw your fence lines.</p>
            </mat-list-item>
            <mat-list-item role="listitem">         
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                <h2>Free form plotting</h2>
                <p>Like other GEO fencing technologies, we have a very flexible map system free form plotting feature that allows you to draw your fence lines.</p>
            </mat-list-item>
            <mat-list-item role="listitem">         
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                <h2>Free form plotting</h2>
                <p>Like other GEO fencing technologies, we have a very flexible map system free form plotting feature that allows you to draw your fence lines.</p>
            </mat-list-item>
            <mat-list-item role="listitem">         
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                <h2>Free form plotting</h2>
                <p>Like other GEO fencing technologies, we have a very flexible map system free form plotting feature that allows you to draw your fence lines.</p>
            </mat-list-item>
            <mat-list-item role="listitem">         
                <span class="iconlistwrapper">
                    <img src="../../../../assets/images/iconlist1-icon1.png">
                </span>
                <h2>Free form plotting</h2>
                <p>Like other GEO fencing technologies, we have a very flexible map system free form plotting feature that allows you to draw your fence lines.</p>
            </mat-list-item>
                


            <mat-card-content class="borderwrapper">
                <span class="border1"></span>
                <span class="border2"></span>
                <span class="border3"></span>
            </mat-card-content>

        </mat-list>
        </mat-card-content>
      </mat-card> -->


      <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/geofencefeaturesblock1.jpg" class="geofencefeaturesblock1">
   
<app-footer></app-footer>
