<app-header></app-header>
    <!-- <mat-card class="homeblock1bg gefencebannerbg">
    </mat-card> -->
    <mat-card class="innerbanner gefencebannerbg">
        <mat-card-content class="mainwrapper">
            <div class="bannertextwrapper">
                <h2 class="text-gradient">Lorem ipsum dolor sit amet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>            
        </mat-card-content>
    </mat-card>

    <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/geofencefeaturesblock1.jpg" class="geofencefeaturesblock1">
   
<app-footer></app-footer>
