<app-header></app-header>
    <!-- <mat-card class="homeblock1bg gefencebannerbg">
    </mat-card> -->
    <mat-card class="innerbanner gefencebannerbg">
        <mat-card-content class="mainwrapper">
            <div class="bannertextwrapper">
                <h2 class="text-gradient">GEOFence Marketing Solutions</h2>
                <p>Using The Most Effective Online And Mobile Marketing Tool To Directly Target Your Specified Audience With Impeccable Precision.</p>
            </div>        
            
            <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/geofencefeaturesbannerimg1.png" class="geofencefeaturesbannerimg1">   
        </mat-card-content>
    </mat-card>

    <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/geofencefeaturesblock1.jpg" class="geofencefeaturesblock1">
   
<app-footer></app-footer>
