<app-header></app-header>

    <!-- <mat-card class="homeblock1bg howitworksbannerbg">
    </mat-card> -->

    <mat-card class="innerbanner howitworksbannerbg">
        <mat-card-content class="mainwrapper">
            <div class="bannertextwrapper">
                <h2 class="text-gradient">Effective Medical Marketing Solutions</h2>
                <p>Helios Medical Marketing Uses The Perfect Blend Of Effective Marketing Tools And Data Accuracy To Advertise To Target Audience For Your Medical Business.</p>
            </div>            
        </mat-card-content>
    </mat-card>

    <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworksblock1.jpg" class="howitworksblock1">
    <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworksblock2.jpg" class="howitworksblock1">
    <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworksblock3.jpg" class="howitworksblock1">
    <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworksblock4.jpg" class="howitworksblock1">
    <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworksblock5.jpg" class="howitworksblock1">
   
<app-footer></app-footer>
