<app-header></app-header>

    <!-- <mat-card class="homeblock1bg howitworksbannerbg">
    </mat-card> -->

    <mat-card class="innerbanner howitworksbannerbg">
        <mat-card-content class="mainwrapper">
            <div class="bannertextwrapper">
                <h2 class="text-gradient">Effective Medical Marketing Solutions</h2>
                <p>Helios Medical Marketing Uses The Perfect Blend Of Effective Marketing Tools And Data Accuracy To Advertise To Target Audience For Your Medical Business.</p>
            </div>            
        </mat-card-content>
    </mat-card>

    <!-- <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworksblock1.jpg" class="howitworksblock1"> -->

    <mat-card class="howitworksbloc1 sectioncss">
        <mat-card-content class="mainwrapper">            
            <div class="flex-row-gen howitworksb1wrapper">
                <span class="main-row-gen">
                    <span class="howitworksblockimgwrapper">
                        <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworksblockimg.jpg" class="howitworksblockimg">
                    </span>                    
                </span>
                <span class="sideblock-row-gen">
                    <h1>Why it works</h1>
                    <mat-list>
                        <mat-list-item>We perfectly geo-fence around the property line to ensure that we only capture the homeowners that you desire.</mat-list-item>
                        <mat-list-item>Machine learning allows us to, over time, verify that they are the clients that you desire.</mat-list-item>
                        <mat-list-item>By starting with the Medical Big Data selections you have chosen we know we have the most accurate micro-targeting possible. You will not be wasting money on non-buyers like other programs.</mat-list-item>
                    </mat-list>
                </span>
                
            </div> 
        </mat-card-content>
    </mat-card>

    <!-- <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworksblock2.jpg" class="howitworksblock1"> -->

    <mat-card class="howitworksbloc2 sectioncss">
        <mat-card-content class="mainwrapper">            
            <div class="flex-row-gen howitworksb2wrapper">
                <span class="main-row-gen">
                    <h1>How it works</h1>
                    <mat-list>
                        <mat-list-item>It’s as simple as loading desired address list setting a budget and you are now sending ads to your perspective clients.</mat-list-item>
                        <mat-list-item>Our powerful AI system allows to market to clients based upon a combination of big data and where they live.</mat-list-item>
                        <mat-list-item>Once we capture your clients, we can plug them into the exchanges they love most. </mat-list-item>
                    </mat-list>
                                    
                </span>
                <span class="sideblock-row-gen">
                     <span class="howitworksblock2imgwrapper">
                        <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworksblock2img.png" class="howitworksblock2img">
                    </span>   
                </span>
                
            </div> 
        </mat-card-content>
    </mat-card>

    <!-- <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworksblock3.jpg" class="howitworksblock1"> -->

    <mat-card class="howitworksbloc3 sectioncss">
        <mat-card-content class="mainwrapper">            
            <span class="flex-row-gen howitworksb3wrapper">
                <span class="main-row-gen">
                    <h1>Our system will allow you to split test on any size campaign</h1>                        
                    <span class="flex-row-gen howitworksb3wrapperinner">
                        <span class="main-row-gen">
                            <h3>Human Oversite</h3>
                            <p>Dedicated Account managers that will <br>observer your account daily to ensure your <br>marketing dollars are being best used and <br>allocated to the things that matter most.</p>
                        </span>
                        <span class="sideblock-row-gen">
                            <h3>AI Optimization</h3>
                            <p>Optimized A / B Campaigns <br>Realtime Bidding controls <br>CPM optimization</p>
                        </span>
                    </span>     
                    
                    <span class="flex-row-gen howitworksb3wrapperbottominner">
                        <span class="main-row-gen">
                            <h1>Only show the<br> ads that are<br> performing best</h1>                            
                        </span>
                        <span class="sideblock-row-gen">
                            <span class="flex-row-gen howitworkimglist">
                                <span class="main-row-gen">
                                    <h3>A</h3>      
                                    <span class="howitworkimgwrapper">
                                        <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworkimglist1.jpg" class="howitworkimglist1">
                                    </span>                      
                                </span>
                                <span class="sideblock-row-gen">
                                    <h3>B</h3>  
                                    <span class="howitworkimgwrapper">
                                        <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworkimglist2.jpg" class="howitworkimglist2">
                                    </span>                                  
                                </span>
                            </span>
                        </span>
                    </span>
                    
                </span>
                <span class="sideblock-row-gen">
                     <span class="howitworksblock3imgwrapper">
                        <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworksbloc3img.png" class="howitworksbloc3img">
                    </span>   
                </span>
                
            </span> 
        </mat-card-content>
    </mat-card>

    <!-- <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworksblock4.jpg" class="howitworksblock1"> -->


    <mat-card class="howitworksbloc4 sectioncss">
        <mat-card-content class="mainwrapper">
          <h1>BANNER AD FORMATS</h1>
          <p>With banner advertising reaching your target demographics became much easier. Apply different ad formats, ad units and banner ad sizes for multiple ad campaigns. Customize the way banner ads are served on sites through programmatic platform. Tune online banner advertising performance and easily reach highest click through rate and engagement. Make online banner ads work for you!</p>  
          <span class="howitworksblock4imgwrapper">
            <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworksblock4img.png" class="howitworksblock4img">
          </span> 
        </mat-card-content>
      </mat-card>


    <!-- <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworksblock5.jpg" class="howitworksblock1"> -->


    <mat-card class="howitworksbloc5 sectioncss">
        <mat-card-content class="mainwrapper">            
            <span class="flex-row-gen howitworksb5wrapper">
                <span class="main-row-gen">
                    <h1>CAPTURE AND FUNNEL PAGES</h1>                        
                    <span class="flex-column-gen howitworksb5wrapperinner">
                        <h2>WE CAN BUILD YOUR FUNNLES AND CAPTURE PAGES</h2>
                        <mat-list>
                            <mat-list-item>Our agency services include the design, development and launching of smart landing pages with tracking codes.  We work with you to close the loop on conversions and audience development.</mat-list-item>
                            <mat-list-item>Our experts have been launching multi-million-dollar funnels and capture websites for over 15 years. </mat-list-item>
                        </mat-list>
                        <span class="howitworksb5wrapperinnerimg">
                            <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworksb5wrapperinner.jpg" class="howitworksb5wrapperinner">
                        </span>
                    </span>    
                </span>
                <span class="sideblock-row-gen">
                     <span class="howitworksblock5imgwrapper">
                        <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworksbloc5img.png" class="howitworksbloc5img">
                    </span>   
                </span>
                
            </span> 
        </mat-card-content>
    </mat-card>


   
<app-footer></app-footer>
