<app-header></app-header>

    <mat-card class="homeblock1bg howitworksbannerbg">
    </mat-card>

    <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworksblock1.jpg" class="howitworksblock1">
    <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworksblock2.jpg" class="howitworksblock1">
    <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworksblock3.jpg" class="howitworksblock1">
    <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworksblock4.jpg" class="howitworksblock1">
    <img src="https://all-frontend-assets.s3.amazonaws.com/helios/images/howitworksblock5.jpg" class="howitworksblock1">
   
<app-footer></app-footer>
